<a {{action 'displayDesignateOverlay'}}>{{yield}}</a>

{{#message-box btn1Text=(t "okay") isVisible=displayAlertOverlay classNames="popupOverlay designate-form"}}
  {{#if (is-and item.isSet (is-equal item.isSet (is-equal item.isSet returnsDesignateFullSet)))}}
    <p>{{t "designate.already_designated" code=order.code}}</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
  {{else}}
    <p>{{t "designate.already_designated" code=order.code}}</p>
    {{partial 'orders/item_block'}}
  {{/if}}
{{/message-box}}

{{#message-box btn1Text=(t "okay") btn1Callback=(action "designatePartialItem") btn2Text=(t "cancel") isVisible=partialDesignatedConfirmationPopUp classNames="popupOverlay designate-form"}}

  {{#if (is-and item.isSet (is-equal item.isSet (is-equal item.isSet returnsDesignateFullSet)))}}
    <p>{{t "designate.partial_designate_title" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
  {{else}}
    <p>{{t "designate.partial_designate_title" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{partial 'orders/item_block'}}
  {{/if}}

{{/message-box}}

{{#message-box btn1Text=(t "okay") btn1Callback=(action "designatePartialItem") btn2Text=(t "cancel") isVisible=partiallyDesignatedPopUp classNames="popupOverlay designate-form"}}

  {{#if (is-and item.isSet (is-equal item.isSet (is-equal item.isSet returnsDesignateFullSet)))}}
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
    {{#each designatedSetOrdersPackages as |ordersPackage|}}
      <div class="warnings">
        <div class="warning_text">
          <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
          <div class="right-message">
            <div>Increases {{ordersPackage.state}} quantity to {{js-add ordersPackage.quantity partial_quantity}} for {{ordersPackage.designation.code}}! ({{ordersPackage.quantity}} previously {{ordersPackage.state}} - item {{ordersPackage.item.inventoryNumber}})</div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    {{partial 'orders/item_block'}}
    <div class="warnings">
      <div class="warning_text">
        <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="right-message">
          <div>Increases {{designatedRecord.state}} quantity to {{js-add totalPartialDesignatedItems partial_quantity}} for {{order.code}}! ({{totalPartialDesignatedItems}} previously {{designatedRecord.state}})</div>
        </div>
      </div>
    </div>
  {{/if}}
{{/message-box}}

{{#message-box btn1Text=(t "okay") btn1Callback=(action "designateItem") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  {{#if isSet}}
    <p>Designate this set of items to {{order.code}} ?</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}

    <div class="warnings">
      {{#if item.setItem.multiQuantitySet}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          Designates entire quantity.
        </div>
      {{/if}}
    </div>
  {{else}}
    <p>{{t "designate.form_title" code=order.code}}</p>
    {{partial 'orders/item_block'}}
    <div class="warnings">
      {{#if (is-greater item.quantity 1)}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          {{t "designate.quantity" quantity=item.quantity}}
        </div>
      {{/if}}

      {{#if item.isSet}}
        <div class="warning_text">
          <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
          <div class="right-message">
            <div class= "designate-message">Designates only part of set.</div>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}

{{/message-box}}

{{#message-box btn1Text=(t "okay") isVisible=cannotDesignateToSameOrder classNames="popupOverlay designate-form"}}

  <p>{{t "designate.cannot_designate" code=order.code}}</p>

{{/message-box}}

