<a {{action 'displayDesignateOverlay'}}>{{yield}}</a>

{{#message-box btn1Text=(t "designate.designate") btn1Callback=(action "designateItem") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  <p>Designating this item to order {{order.code}}</p>

  {{yield}}

  <div class="warnings">

    {{#if item.designation}}
      <div class="warning_text">
        <i class="fa fa-exclamation-triangle"></i>
        Overrides an existing designation.
      </div>
    {{/if}}

    {{#if (is-greater item.quantity 1)}}
      <div class="warning_text">
        <i class="fa fa-exclamation-triangle"></i>
        Designates quantity of {{item.quantity}}
      </div>
    {{/if}}

    {{#if item.isSet}}
      <div class="warning_text">
        <i class="fa fa-exclamation-triangle"></i>
        Designates only part of set.
      </div>

      {{input type="checkbox" checked=showAllSetItems id=(concat "item" item.id)}}
      <label for="{{concat "item" item.id}}" >Show other parts from the same set next</label>

    {{/if}}

  </div>

{{/message-box}}


{{#message-box btn1Text=(t "okay") isVisible=displayAlertOverlay classNames="popupOverlay designate-form"}}

  <p>This item is alreday designated to order {{order.code}}.</p>

  {{yield}}

{{/message-box}}
