<a {{action 'displayDesignateOverlay'}}>{{yield}}</a>

{{#message-box btn1Text=(t "designate.designate") btn1Callback=(action "designateItem") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  {{#if isSet}}

    <p>Designate this set of items to {{order.code}} ?</p>

    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}

    <div class="warnings">

      {{#if overridesDesignation}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          Overrides existing designation(s).
        </div>
      {{/if}}

      {{#if item.setItem.multiQuantitySet}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          Designates entire quantity.
        </div>
      {{/if}}

    </div>


  {{else}}

    <p>{{t "designate.form_title" code=order.code}}</p>

    {{partial 'orders/item_block'}}

    <div class="warnings">

      {{#if item.designation}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          {{t "designate.overrides_existing"}}
        </div>
      {{/if}}

      {{#if (is-greater item.quantity 1)}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          {{t "designate.quantity" quantity=item.quantity}}
        </div>
      {{/if}}

      {{#if item.isSet}}
        <div class="warning_text">
          <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
          <div class="right-message">
            <div class= "designate-message">Designates only part of set. You could designate the {{#link-to 'items.detail' item}} entire set{{/link-to}} instead.</div>
          </div>
        </div>
      {{/if}}

    </div>
  {{/if}}

{{/message-box}}


{{#message-box btn1Text=(t "okay") isVisible=displayAlertOverlay classNames="popupOverlay designate-form"}}

  <p>{{t "designate.already_designated" code=order.code}}</p>

  {{partial 'orders/item_block'}}

{{/message-box}}
