<a {{action 'displayDesignateOverlay'}}>{{yield}}</a>

{{#message-box btn1Text=(t "okay") isVisible=displayAlertOverlay classNames="popupOverlay designate-form"}}
  {{#if (is-equal item.isSet returnsDesignateFullSet)}}
    <p>{{t "designate.already_designated" code=order.code}}</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
  {{else}}
    <p>{{t "designate.already_designated" code=order.code}}</p>
    {{partial 'orders/item_block'}}
  {{/if}}
{{/message-box}}

{{#message-box btn1Text=(t "okay") btn1Callback=(action "designatePartialItem") btn2Text=(t "cancel") isVisible=partialDesignatedConfirmationPopUp classNames="popupOverlay designate-form"}}

  {{#if (is-equal item.isSet returnsDesignateFullSet)}}
    <p>{{t "designate.partial_designate_title" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
  {{else}}
    <p>{{t "designate.partial_designate_title" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{partial 'orders/item_block'}}
  {{/if}}

{{/message-box}}

{{#message-box btn1Text=(t "okay") btn1Callback=(action "designatePartialItem") btn2Text=(t "cancel") isVisible=partiallyDesignatedPopUp classNames="popupOverlay designate-form"}}

  {{#if (is-equal item.isSet returnsDesignateFullSet)}}
    <p>{{t "designate.already_partially_designated" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}
  {{else}}
    <p>{{t "designate.already_partially_designated" code=order.code qty=totalPartialDesignatedItems partial_qty=partial_quantity}}</p>
    {{partial 'orders/item_block'}}
  {{/if}}
{{/message-box}}

{{#message-box btn1Text=(t "okay") isVisible=cannotDesignateToSameOrder classNames="popupOverlay designate-form"}}

  <p>{{t "designate.cannot_designate" code=order.code}}</p>

{{/message-box}}


