{{#if item.isSet}}
  {{#if item.setItem.shareSingleDesignation}}
    <span class="no-avatar" {{action "displayDispatchOverlay"}}>
      <i class="fa fa-ship" aria-hidden="true"></i>
    </span>

    {{#message-box btn1Text=(t "dispatch.dispatch") btn1Callback=(action "dispatchItemSet") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

      <p>Dispatch multi-part set to {{order.code}}</p>

      {{#each item.setItem.items as |item|}}
        {{partial 'items/set_item_block'}}
      {{/each}}

      <div class="warnings">
        {{#if item.setItem.multiQuantitySet}}
          <div class="warning_text">
            <i class="fa fa-exclamation-triangle"></i>
            Dispatched entire quantity.
          </div>
        {{/if}}
      </div>

    {{/message-box}}

  {{/if}}
{{else}}
  {{dispatch-form item=item order=order setAction=true}}
{{/if}}
