{{#if item.isSet}}
  <span class="no-avatar" {{action "displayDispatchOverlay"}}>
    <i class="fa fa-ship" aria-hidden="true"></i>
  </span>

  {{#if item.setItem.hasSingleDesignation}}
    {{#message-box btn1Text=(t "dispatch.dispatch") btn1Callback=(action "dispatchItemSet") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

      <p>Dispatch multi-part set to {{order.code}}</p>

      {{#each item.setItem.items as |item|}}
        {{partial 'items/set_item_block'}}
      {{/each}}

      <div class="warnings">
        {{#if item.setItem.multiQuantitySet}}
          <div class="warning_text">
            <i class="fa fa-exclamation-triangle"></i>
            Dispatches entire quantity.
          </div>
        {{/if}}
      </div>

    {{/message-box}}

  {{!-- {{else}}

    {{#message-box btn1Text="Continue" btn1Callback=(action "assignDesignation") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

      <p class="red-warning">
        <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="right-message">
          Which order do you wish to designate all parts of this set to before you dispatch?
        </div>
      </p>

      <div class="radio_selection">
        {{#each item.setItem.designations as |order|}}
          <div class="custom_radio_button">
            {{radio-button name="order" selection=selectedOrder value=order.id id=order.id}}
            <label for={{order.id}}>
              <div class="row">
                <div class="small-2 large-1 columns">
                  <span></span>
                </div>
                <div class="small-10 large-11 columns">
                  {{order.code}}
                </div>
              </div>
            </label>
          </div>
        {{/each}}

        <div class="custom_radio_button">
          {{radio-button name="order" selection=selectedOrder value="chooseOrder" id="chooseOrder"}}
          <label for="chooseOrder">
            <div class="row">
              <div class="small-2 large-1 columns">
                <span></span>
              </div>
              <div class="small-10 large-11 columns">
                Choose a different designation
              </div>
            </div>
          </label>
        </div>
      </div>

    {{/message-box}} --}}

  {{/if}}
{{else}}
  {{dispatch-form item=item order=order package=package setAction=true}}
{{/if}}

{{designate-form order=order item=item toggleOverlay=toggleOverlay isSet=true showDispatchOverlay=true}}
