<div class="options-link-open {{if hidden '' 'hidden'}}" {{action "toggle" false}}>
  <i class="fa fa-angle-left"></i>
</div>

<div class="receive-item-options {{if hidden 'hidden'}} {{if item.isSet 'set-options'}}">

  <div class="{{if item.sentOn 'disabled'}}">
    {{#link-to 'items.partial_move' item.id tagName='div' href=false}}
      <i class="fa item-menu fa fa-map-marker"></i>
      {{t "item.move"}}
    {{/link-to}}
  </div>

  <div class="{{if item.sentOn 'disabled'}} {{unless item.quantity 'disabled'}}">
    {{#link-to 'items.partial_designate' item.id tagName='div' href=false}}
      <i class="fa item-menu fa fa-shopping-basket"></i>
      {{t "item.designate"}}
    {{/link-to}}
  </div>

  {{#if item.sentOn}}
    {{ undispatch-item item=item closeList=(action 'toggle' true) }}
  {{else}}
    <div class="{{unless item.designation 'disabled'}}">
      {{dispatch-form item=item order=item.designation closeList=(action 'toggle' true) }}
    </div>
  {{/if}}

  {{#print-label item=item closeList=(action 'toggle' true)}}
    <i class="fa item-menu fa-print"></i>
    Label
  {{/print-label}}

  {{#if item.isSet}}
    {{remove-item-from-set item=item closeList=(action 'toggle' true)}}
  {{/if}}

  <div class="options-link-close" {{action "toggle" true}}>
    <i class="fa item-menu fa-angle-right"></i>
  </div>
</div>
