<div class="options-link-open {{if hidden '' 'hidden'}}" {{action "toggle" false}}>
  <i class="fa fa-angle-left"></i>
</div>

<div class="receive-item-options {{if hidden 'hidden'}} {{if item.isSet 'set-options'}}">
  <div class="{{unless item.isSingletonItem 'disabled'}} {{if item.hasAllPackagesDispatched 'disabled'}}">
    {{#if item.isSingletonItem}}
      {{#link-to 'items.search_location' item.id (query-params isPartialMove=item.isPartialMoveForSignleton pkgsLocationId=item.packagesLocations.firstObject.id skipScreenForSingletonItem=true) tagName='div' href=false}}
        <i class="fa item-menu fa fa-map-marker"></i>
        {{t "item.move"}}
      {{/link-to}}
    {{else}}
      {{#link-to 'items.partial_move' item.id tagName='div' href=false}}
        <i class="fa item-menu fa fa-map-marker"></i>
        {{t "item.move"}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="{{unless item.isSingletonItem 'disabled'}} {{unless item.quantity 'disabled'}}">
    {{#if item.isSingletonItem}}
      {{#link-to 'items.search_order' item.id tagName='div' href=false}}
        <i class="fa item-menu fa fa-shopping-basket"></i>
        {{t "item.designate"}}
      {{/link-to}}
    {{else}}
      {{#link-to 'items.partial_designate' item.id tagName='div' href=false}}
        <i class="fa item-menu fa fa-shopping-basket" {{action 'partialDesignateForSet'}}></i>
        {{t "item.designate"}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="{{unless item.isSingletonItem 'disabled'}} {{unless item.hasOneDesignatedPackage 'disabled'}}">
    {{#link-to 'items.partial_dispatch' item.id (query-params orderPackageId=item.firstDesignatedOrdersPackage.id) tagName='div' href=false}}
      <i class="fa item-menu fa-ship"></i>
      {{t "item.dispatch"}}
    {{/link-to}}
  </div>

  {{#print-label item=item closeList=(action 'toggle' true)}}
    <i class="fa item-menu fa-print"></i>
    Label
  {{/print-label}}

  {{#if item.isSet}}
    {{remove-item-from-set item=item closeList=(action 'toggle' true)}}
  {{/if}}

  <div class="options-link-close" {{action "toggle" true}}>
    <i class="fa item-menu fa-angle-right"></i>
  </div>
</div>
