<div class="options-link-open {{if hidden '' 'hidden'}}" {{action "toggle" false}}>
  <i class="fa fa-angle-left"></i>
</div>

<div class="receive-options {{if hidden 'hidden'}}">
  {{#print-label item=item closeList=(action 'toggle' true)}}
    <i class="fa item-menu fa-print"></i>
    Label
  {{/print-label}}

  <div class="{{unless item.hasOneDesignatedPackage 'disabled'}}">
    {{#link-to 'items.partial_dispatch' item.id (query-params orderPackageId=item.firstOrdersPackage.id) tagName='div' href=false}}
      <i class="fa item-menu fa-ship"></i>
      {{t "item.dispatch"}}
    {{/link-to}}
  </div>

  {{undesignate-item item=item order=order package=package closeList=(action 'toggle' true) }}

  <div class="options-link-close" {{action "toggle" true}}>
    <i class="fa item-menu fa-angle-right"></i>
  </div>
</div>
