<div class="{{if item.isDispatched 'disabled'}}" {{action 'displayDesignateOverlay'}}>
  <i class="fa item-menu fa-times-circle-o"></i>
  {{t "item.undesignate"}}
</div>

{{#message-box btn1Text=(t "undesignate.undesignate") btn1Callback=(action "undesignateItem") btn2Text=(t "cancel") btn2Callback=(action "closeItemOptions") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  <p>{{t "undesignate.form_title" code=order.code}}</p>

  {{partial 'orders/item_block'}}

  <div class="warnings">

    {{#if (is-greater item.quantity 1)}}
      <div class="warning_text">
        <i class="fa fa-exclamation-triangle"></i>
        {{t "undesignate.quantity" quantity=item.quantity}}
      </div>
    {{/if}}

    {{#if item.isSet}}
      <div class="warning_text">
        <i class="fa fa-exclamation-triangle"></i>
        {{t "undesignate.set_part"}}
      </div>
    {{/if}}

  </div>

{{/message-box}}
