{{partial "items/item_status_bar"}}
    <div class="row detail-section">
      <div class="columns small-9">
        <div class="row">
          <div class="columns small-4">Quantity </div>
          <div class="columns small-8 value">
            {{item.quantity}}
          </div>
        </div>
        <div class="row">
          <div class="columns small-4">Type </div>
          <div class="columns small-8 value">
            {{#link-to 'items.search_code' item.id}}
              {{input value=item.code.name class="item-type" disabled=true}}
            {{/link-to}}
          </div>
        </div>

      </div>
      <div class="columns small-3">
        {{#link-to 'items.edit_images' item}}
          <img src={{item.thumbImageUrl}} class="thumb"/>
        {{/link-to}}
      </div>
    </div>

    <div class="row detail-section">
      <div class="columns small-11">
        <div class="row">
          <div class="columns small-3">Description </div>
          <div class="columns small-9 value description">
            {{#form-control}}
              {{item-description-textarea data-autoresize=true name="notes" value=item.notes required="required" pattern=".*\S.*" id=(concat 'desc' item.id) class="description-textarea" item=item}}
              <div class='description-error'>Description cannot be blank.</div>
            {{/form-control}}
          </div>
        </div>
      </div>
      <div class="columns small-1 item_options_component">
        {{item-options-list item=item}}
      </div>
    </div>

    <div class="row detail-section">
      <div class="columns small-12">

        <div class="row">
          <div class="columns small-3">Size (cm) </div>
          <div class="columns small-3 value">
            L: {{numeric-inline-input id=(concat 'qty' item.id) name="length" class="numeric-input item-length small-3" value=item.length maxlength="5" pattern="[1-9][0-9]{0,4}" item=item}}
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>

          <div class="columns small-3 value">
            W: {{numeric-inline-input id=(concat 'wth' item.id) name="width" class="numeric-input item-width small-3" value=item.width maxlength="5"  pattern="[1-9][0-9]{0,4}" item=item}}
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>

          <div class="columns small-3 value">
            H: {{numeric-inline-input id=(concat 'hgt' item.id) name="height" class="numeric-input item-height small-3" value=item.height maxlength="5" pattern="[1-9][0-9]{0,4}" item=item}}
          </div>
        </div>
        <div class="row">
          <div class="columns small-3">Quality: </div>
            <div class="columns small-3 value quality">
              <div class="select-quality">
                <span class='input_text'>Grade :</span>
                {{inline-select-list
                  content=grades
                  on-change=(action (mut selectedReason))
                  name="grade"
                  id=(concat 'grd' item.id)
                  class="grade-margin"
                  item=item}}
              </div>
            </div>
            <div class="columns small-6 value condition-field">
              <div class="select-condition">
                <span class='input_text'>Condition :</span>
                {{inline-select-list
                  content=conditions
                  on-change=(action (mut selectedReason))
                  name="donor_condition_id"
                  item=item
                  id=(concat 'cnd' item.id)
                  class="condition-margin"}}
              </div>
            </div>
          </div>
          <div class="row">
           {{donation-field item=item caseNumber=item.caseNumber}}
          </div>
        </div>
      </div>
