<div class="row dispatch_details {{if item.hasAllPackagesDispatched 'dispatched'}} {{if item.hasAllPackagesDesignated 'designated'}} {{if (is-and (is-not item.quantity) item.designatedOrdersPackages.length) 'designated'}}">
  <div class="small-3 columns">
    {{#if item.hasAllPackagesDesignated}}
      {{#if item.hasOneDesignatedPackage}}
        <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
      {{else}}
        <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
      {{/if}}
    {{else if item.hasAllPackagesDispatched}}
      {{#if item.hasOneDispatchedPackage}}
        <i class="fa fa-ship"></i> {{item.hasOneDispatchedPackage.designation.code}}
      {{else}}
        <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
      {{/if}}
    {{else if (is-not item.quantity)}}
      {{#if item.hasOneDesignatedPackage}}
          <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
      {{else if item.designatedOrdersPackages.length}}
          <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
      {{else if item.hasOneDispatchedPackage}}
          <i class="fa fa-ship"></i> {{item.hasOneDispatchedPackage.designation.code}}

      {{else if item.dispatchedOrdersPackages.length}}
        <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
      {{/if}}
    {{else}}
        <div class="stock_status">
          <i class="fa {{if item.allowWebPublish 'fa-eye' 'fa-eye-slash'}}" aria-hidden="true"></i> In Stock
        </div>
    {{/if}}
  </div>
  <div class="small-5 columns location-name">
    {{#unless item.hasAllPackagesDispatched}}
      <i class="fa fa-map-marker"> </i>
      {{#if item.hasSingleLocation}}
        {{item.firstLocationName}}
      {{else if item.hasMultiLocations}}
        Multiple
      {{/if}}
    {{/unless}}
  </div>
  <div class="small-4 columns">
    <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i> {{item.inventoryNumber}}
  </div>
</div>
