<div class="small-6 large-8 columns name_details">
  <div class="ellipsis name one-line-ellipsis" style="display: inline!important;">{{item.quantity}} x {{item.code.name}}</div>
  <span style="margin-left: 0.25rem;">
    {{item.quantity}}/{{item.totalDesignatedQty}}/{{item.totalDispatchedQty}}
  </span>
  <div class="ellipsis two-line-ellipsis">
    {{item.notes}}
  </div>
</div>
