<div class="row dispatch_details {{if item.hasAllPackagesDispatched 'dispatched'}} {{if item.hasAllPackagesDesignated 'designated'}} {{if (is-and (is-not item.quantity) item.designatedOrdersPackages.length) 'designated'}}">
  {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
    <div class="small-3 columns">
      {{#if item.hasAllPackagesDesignated}}
        {{#if item.hasOneDesignatedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
          {{/link-to}}
        {{else}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
          {{/link-to}}
        {{/if}}
      {{else if item.hasAllPackagesDispatched}}
        {{#if item.hasOneDispatchedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-ship"></i> {{item.hasOneDispatchedPackage.designation.code}}
          {{/link-to}}
        {{else}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
          {{/link-to}}
        {{/if}}
      {{else if (is-not item.quantity)}}
        {{#if item.hasOneDesignatedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
          {{/link-to}}
        {{else if item.designatedOrdersPackages.length}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
          {{/link-to}}
        {{else if item.hasOneDispatchedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-ship"></i> {{item.hasOneDispatchedPackage.designation.code}}
          {{/link-to}}
        {{else if item.dispatchedOrdersPackages.length}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
          {{/link-to}}
        {{/if}}
      {{else}}
        {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
          <div class="stock_status">
            <i class="fa {{if item.allowWebPublish 'fa-eye' 'fa-eye-slash'}}" aria-hidden="true"></i> In Stock
          </div>
        {{/link-to}}
      {{/if}}
    </div>
  {{/link-to}}
  <div class="small-6 columns location-name">
    {{#unless item.hasAllPackagesDispatched}}
      <i class="fa fa-map-marker"> </i>
      {{#if item.hasSingleLocation}}
        {{item.firstLocationName}}
      {{else if item.hasMultiLocations}}
        {{#link-to 'items.partial_move' item.id tagName='span' href=false}} Multiple {{/link-to}}
      {{/if}}
    {{/unless}}
  </div>
  <div class="small-3 columns">
    <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i> {{item.inventoryNumber}}
  </div>
</div>
