<div class="row dispatch_details {{if item.hasAllPackagesDispatched 'dispatched'}} {{if item.desinatedAndDisaptchedItemPackages 'designated'}} {{if (is-greater item.designatedItemCount 1) 'designated'}}">
  <div class="small-3 columns">
    {{#if (is-greater item.desinatedAndDisaptchedItemPackages 1)}}
      {{#if item.hasAllPackagesDispatched}}
        <i class="fa fa-ship"></i> {{t "item.multiple"}}
      {{else if item.hasOneDesignatedPackage}}
        {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
          <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
        {{/link-to}}
      {{else}}
        {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
          <i class="fa fa-shopping-basket"></i> {{t "item.multiple"}}
        {{/link-to}}
      {{/if}}
    {{else if item.hasAllPackagesDispatched}}
      {{#link-to 'orders.detail' item.designation.id tagName='span' href=false}}
        <i class="fa fa-ship"></i> {{item.designation.code}}
      {{/link-to}}
    {{else if item.hasOneDesignatedPackage}}
      {{#link-to 'orders.detail' item.designation.id tagName='span' href=false}}
        <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
      {{/link-to}}
    {{else if item.hasOneDispatchedPackage}}
      {{#link-to 'orders.detail' item.hasOneDispatchedPackage.designation.id tagName='span' href=false}}
        <i class="fa fa-shopping-basket"></i> {{item.hasOneDispatchedPackage.designation.code}}
      {{/link-to}}
    {{else}}
      {{publish-stock-item item=item}}
    {{/if}}
  </div>
  <div class="small-6 columns location-name">
    {{#unless item.sentOn}}
      <i class="fa fa-map-marker"> </i>
      {{#if item.hasSingleLocation}}
        {{item.firstLocationName}}
      {{else}}
        {{#link-to 'items.partial_move' item.id tagName='span' href=false}} Multiple {{/link-to}}
      {{/if}}
    {{/unless}}

    {{#unless item.hasAllPackagesDispatched}}
      <i class="fa fa-map-marker"></i> {{item.location.name}}
    {{/unless}}
  </div>
  <div class="small-3 columns">
    <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i> {{item.inventoryNumber}}
  </div>
</div>
