{{#if (is-equal backLinkPath 'items.detail')}}
  {{#link-to 'items.detail' item.id classNames="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else if (is-equal backLinkPath 'orders.active_items')}}
  {{#link-to "orders.active_items" orderIdForOrderDetail class="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else if (is-equal backLinkPath 'items.partial_move')}}
  {{#link-to 'items.partial_move' item.id classNames="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else if (is-equal backLinkPath 'items.partial_undesignate')}}
  {{#link-to 'items.partial_undesignate' item.id classNames="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else if (is-equal backLinkPath 'items.partial_designate')}}
  {{#link-to 'items.partial_designate' item.id classNames="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else}}
  {{#link-to backLinkPath class="back"}}
    <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
    <div class="back_text">
      <i class="fa fa-tag"></i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{/if}}
