{{#if item.images.length}}
  {{#slick-carousel class="ember-carousel" autoplay=true autoplaySpeed=2500 speed=500 swipeToSlide=true infinite=false  mobileFirst=true touchMove=true slidesToShow=1 slidesToScroll=1}}
    {{#each item.images as |image|}}
      <div data-src={{image.imageUrl}} class="imageZoom" >
        {{#if isMobileApp}}
          <img src={{image.imageUrl}} {{action "imageZoom" image}} class="profile slide-image"/>
        {{else}}
          <img src={{image.imageUrl}} class="profile"/>
        {{/if}}
      </div>
    {{/each}}
  {{/slick-carousel}}
{{else}}
  {{partial 'items/no_image'}}
{{/if}}
