<section class="main-section item_details_screen">
  <div class="search">
    <div class="row profile_container">
      {{#if (is-equal backLinkPath 'orders.detail')}}
        {{#link-to 'orders.detail' model.designation tagName='span' href=false class="no-avatar back_link"}}
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        {{/link-to}}
      {{else}}
        {{#link-to backLinkPath tagName='span' href=false class="no-avatar back_link"}}
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        {{/link-to}}
      {{/if}}
      <div id="itemImage">
        {{image-zoom item=model}}
      </div>
      <div class="image-action-list">

        {{#unless allDispatched}}
          <span class="non-clickable-set-move" {{action 'moveItemSet'}}>
            <span class="no-avatar non-clickable-set-move">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span>
          </span>


        {{#if model.quantity}}
          {{#link-to 'items.partial_designate' model.id (query-params isSet=model.isSet) tagName='span' href=false}}
            <span class="no-avatar" {{action 'partialDesignateForSet'}}>
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </span>
          {{/link-to}}
        {{/if}}
        {{/unless}}

        {{#if hasDesignation}}
          {{dispatch-set item=model order=model.designation autoDisplayOverlay=autoDisplayOverlay}}
        {{else if (is-equal model.isSet model.setItem.hasSingleDesignation)}}
          {{dispatch-set item=model order=model.designation autoDisplayOverlay=autoDisplayOverlay}}
        {{/if}}

        {{#if item.allowLabelPrint}}
          {{#print-label item=item closeList=""}}
            <span class="no-avatar">
              <i class="fa fa-print" aria-hidden="true"></i>
            </span>
          {{/print-label}}
        {{/if}}
      </div>
    </div>

    {{#if model.isSet}}
      <div class="row set_details">
        <div class="columns small-12">
          <div class='set_name'>{{model.setItem.description}}</div>
          <div class='set_type'>{{model.code.name}}</div>
        </div>
      </div>
    {{/if}}

    {{#if model.isSet}}
      {{#each model.setItem.items as |item|}}
        {{partial 'items/item_detail_block'}}
      {{/each}}
    {{else}}
      {{partial 'items/item_detail_block'}}
    {{/if}}

  </div>

  {{partial "items/sticky_footer"}}
</section>
