<section class="main-section item_details_screen">
  <div class="search">
    <div class="row profile_container">
      {{#link-to "items.index" tagName='span' href=false class="no-avatar back_link"}}
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      {{/link-to}}
      <div id="itemImage">
        {{image-zoom item=model}}
      </div>
      <div class="image-action-list">
        {{#unless model.hasAllPackagesDispatched}}
          {{#if model.quantity}}
            {{#if (is-not model.isSet)}}
              {{#link-to 'items.partial_designate' model.id (query-params isSet=model.isSet) tagName='span' href=false}}
                <span class="no-avatar" {{action 'partialDesignateForSet'}}>
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </span>
              {{/link-to}}
            {{/if}}
          {{/if}}
        {{/unless}}

        {{#unless model.isSet}}
          {{#if (is-and item.hasOneDesignatedPackage (is-not model.hasAllPackagesDispatched))}}
            <div class="{{unless item.hasOneDesignatedPackage 'disabled'}}">
              {{#link-to 'items.partial_dispatch' item.id (query-params orderPackageId=model.firstDesignatedOrdersPackage.id) tagName='div' href=false}}
                <span class="no-avatar">
                  <i class="fa fa-ship" aria-hidden="true"></i>
                </span>
              {{/link-to}}
            </div>
          {{/if}}
        {{/unless}}

        {{#if item.allowLabelPrint}}
          {{#print-label item=item closeList=""}}
            <span class="no-avatar">
              <i class="fa fa-print" aria-hidden="true"></i>
            </span>
          {{/print-label}}
        {{/if}}
      </div>
    </div>

    {{#if model.isSet}}
      <div class="row set_details">
        <div class="columns small-12">
          <div class='set_name'>{{model.setItem.description}}</div>
          <div class='set_type'>{{model.code.name}}</div>
        </div>
      </div>
    {{/if}}

    {{#if model.isSet}}
      {{#each model.setItem.items as |item|}}
        {{partial 'items/item_detail_block'}}
      {{/each}}
    {{else}}
      {{partial 'items/item_detail_block'}}
    {{/if}}

  </div>

  {{partial "items/sticky_footer"}}
</section>

