<div class="history">
  <div class="row">
    <div class="columns small-1 medium-1 large-1 history-back-link">
      {{#link-to 'items.detail' model.id classNames="back"}}
        <i class="fa fa-angle-left back_icon" aria-hidden="true" style="color: white;"></i>
      {{/link-to}}
    </div>
    <div class="columns small-11 medium-11 large-11 history-title">
      History
    </div>
  </div>
  <hr/>
  <div class="history-block">
  {{#if model.isSet}}
    {{#if model.setItem.setItemOrdersPackages}}
      <div class="row history-header">
        <div class="columns small-4 medium-4 large-4">
          Order Code
        </div>
        <div class="columns small-4 medium-4 large-4 qty">
          Quantity
        </div>
        <div class="columns small-4 medium-4 large-4 inventory-number">
          Number
        </div>
      </div>
      {{#each model.setItem.designatedAndDispatchedOrdersPackages as |ordersPackage|}}
        <div class="row {{ordersPackage.state}}">
          {{#link-to 'orders.detail' ordersPackage.designation.id href=false}}
            <div class="columns small-4 medium-4 large-4">
              {{#if (is-equal ordersPackage.state "designated")}}
                <i class="fa fa-shopping-basket"></i>
              {{else if (is-equal ordersPackage.state "dispatched")}}
                <i class="fa fa-ship"></i>
              {{/if}}
              {{ordersPackage.designation.code}}
            </div>
            <div class="columns small-4 medium-4 large-4 qty">
              {{ordersPackage.quantity}}
            </div>
            <div class="columns small-4 medium-4 large-4 inventory-number">
              <i class="fa fa-tags"></i>{{ordersPackage.item.inventoryNumber}}
            </div>
          {{/link-to}}
        </div>
      {{/each}}
    {{else}}
      <div class="row history-unavailable">
        No history available.
      </div>
    {{/if}}
  {{else if model.desinatedAndDisaptchedItemPackages}}
    <div class="row history-header">
      <div class="columns small-4 medium-4 large-4">
        Order Code
      </div>
      <div class="columns small-4 medium-4 large-4 qty">
        Quantity
      </div>
      <div class="columns small-4 medium-4 large-4 inventory-number">
        Number
      </div>
    </div>
    {{#each model.ordersPackagesWithStateDesignatedAndDispatched as |ordersPackage|}}
      <div class="row {{ordersPackage.state}}">
        {{#link-to 'orders.detail' ordersPackage.designation.id href=false}}
          <div class="columns small-4 medium-4 large-4">
            {{#if (is-equal ordersPackage.state "designated")}}
              <i class="fa fa-shopping-basket"></i>
            {{else if (is-equal ordersPackage.state "dispatched")}}
              <i class="fa fa-ship"></i>
            {{/if}}
            {{ordersPackage.designation.code}}
          </div>
          <div class="columns small-4 medium-4 large-4 qty">
            {{ordersPackage.quantity}}
          </div>
          <div class="columns small-4 medium-4 large-4 inventory-number">
            <i class="fa fa-tag"></i>{{model.inventoryNumber}}
          </div>
        {{/link-to}}
      </div>
    {{/each}}
  {{else}}
    <div class="row history-unavailable">
      No history available.
    </div>
  {{/if}}
  </div>
  {{partial "items/sticky_footer"}}
</div>
