<div class="row fixed_search_header search-box ui items-search">
  <div class="{{if isMobileApp 'small-10 large-10' 'small-12'}} columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder="Search"
      value=searchText }}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
  </div>

  {{#if isMobileApp}}
    <div class="small-2 columns scan-button">
      {{scan-barcode-button record=model route="items.index"}}
    </div>
  {{/if}}
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{/if}}

      {{#if filteredResults}}
        <ul class="list list-activity list-offer-items">
          {{#each arrangedItems as |item|}}
            {{partial 'orders/item_block'}}
          {{/each}}
        </ul>

        {{#infinity-loader}}
        {{/infinity-loader}}

      {{else if hasNoResults}}
        <div class='no_result'>{{t "no_search_results"}}</div>
      {{/if}}
    </div>
  </div>

  {{partial "sticky_footer"}}
</section>
