<div class="row item_block item_header">
  {{#if (is-and model.isSet (is-equal model.isSet (is-equal model.isSet returnsDesignateFullSet)))}}
    {{#each model.setItem.items as |item|}}
      <div class= "partial_designation">
        <div class="row dispatch_details {{if item.hasAllPackagesDispatched 'dispatched'}} {{if item.desinatedAndDisaptchedItemPackages 'designated'}} {{if (is-greater item.designatedItemCount 1) 'designated'}}">
          <div class="small-3 columns">
            {{#if (is-greater item.desinatedAndDisaptchedItemPackages 1)}}
              {{#if item.hasAllPackagesDispatched}}
                <i class="fa fa-ship"></i> {{t "item.multiple"}}
              {{else if item.hasOneDesignatedPackage}}
                <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
              {{else}}
                <i class="fa fa-shopping-basket"></i> {{t "item.multiple"}}
              {{/if}}
            {{else if item.hasAllPackagesDispatched}}
              <i class="fa fa-ship"></i> {{item.designation.code}}
            {{else if item.hasOneDesignatedPackage}}
              {{#link-to 'orders.detail' item.designation.id tagName='span' href=false}}
                <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
              {{/link-to}}
            {{else if item.hasOneDispatchedPackage}}
              {{#link-to 'orders.detail' item.hasOneDispatchedPackage.designation.id tagName='span' href=false}}
                <i class="fa fa-shopping-basket"></i> {{item.hasOneDispatchedPackage.designation.code}}
              {{/link-to}}
            {{/if}}
          </div>
          <div class="small-6 columns location-name">
            {{#unless item.hasAllPackagesDispatched}}
              <i class="fa fa-map-marker"></i> {{item.location.name}}
            {{/unless}}
          </div>
          <div class="small-3 columns">
            <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i> {{item.inventoryNumber}}
          </div>
        </div>

        <div class="row other_details item_details">
          <div class="small-3 large-2 columns image">
            <img src={{item.thumbImageUrl}} class="thumb"/>
          </div>

          {{#if hideDetailsLink}}
            {{#link-to 'items.detail' item.id }}
              <div class="small-6 large-8 columns name_details">
                <div class="ellipsis name one-line-ellipsis">{{item.quantity}} x {{item.code.name}}</div>
                <div class="ellipsis two-line-ellipsis">
                  {{item.notes}}
                </div>
              </div>
            {{/link-to}}
          {{else}}
            {{#link-to 'items.detail' item.id }}
              <div class="small-6 large-8 columns name_details">
                <div class="ellipsis name one-line-ellipsis">{{item.quantity}} x {{item.code.name}}</div>
                <div class="ellipsis two-line-ellipsis">
                  {{item.notes}}
                </div>
              </div>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="row dispatch_details {{if model.hasAllPackagesDispatched 'dispatched'}} {{if model.desinatedAndDisaptchedItemPackages 'designated'}} {{if (is-greater model.designatedItemCount 1) 'designated'}}">
      <div class="small-3 columns">
        {{#if (is-greater model.desinatedAndDisaptchedItemPackages 1)}}
          {{#if model.hasAllPackagesDispatched}}
            <i class="fa fa-ship"></i> {{t "item.multiple"}}
          {{else if model.hasOneDesignatedPackage}}
            <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
          {{else}}
            <i class="fa fa-shopping-basket"></i> {{t "item.multiple"}}
          {{/if}}
        {{else if model.hasAllPackagesDispatched}}
          <i class="fa fa-ship"></i> {{model.designation.code}}
        {{else if model.hasOneDesignatedPackage}}
          {{#link-to 'orders.detail' model.designation.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
          {{/link-to}}
        {{else if model.hasOneDispatchedPackage}}
          {{#link-to 'orders.detail' model.hasOneDispatchedPackage.designation.id tagName='span' href=false}}
            <i class="fa fa-shopping-basket"></i> {{model.hasOneDispatchedPackage.designation.code}}
          {{/link-to}}
        {{/if}}
      </div>
      <div class="small-6 columns location-name">
        {{#unless model.hasAllPackagesDispatched}}
          <i class="fa fa-map-marker"></i> {{model.location.name}}
        {{/unless}}
      </div>
      <div class="small-3 columns">
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}
      </div>
    </div>

    <div class="row other_details item_details">
      <div class="small-3 large-2 columns image">
        <img src={{model.thumbImageUrl}} class="thumb"/>
      </div>

      {{#if hideDetailsLink}}
        {{#link-to 'items.detail' model.id }}
          <div class="small-6 large-8 columns name_details">
            <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
            <div class="ellipsis two-line-ellipsis">
              {{model.notes}}
            </div>
          </div>
        {{/link-to}}
      {{else}}
        {{#link-to 'items.detail' model.id }}
          <div class="small-6 large-8 columns name_details">
            <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
            <div class="ellipsis two-line-ellipsis">
              {{model.notes}}
            </div>
          </div>
        {{/link-to}}
      {{/if}}
      {{!--
      {{#if displaySetBlock}}
        {{#if model.isSet}}
          <div class="small-3 large-2 columns">
            <div class="set-link" {{action "displaySetItems" model on='click' bubbles=false}}><i class="fa fa-tag"></i> Go to set </div>
          </div>
        {{/if}}
      {{/if}}
      --}}
    </div>
  {{/if}}

  <div class="warnings">
    <div class="warning_text">
      <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="right-message">
        <div class="move-message">Designates only part of set.</div>
      </div>
    </div><br/>
    <div class="warning_text">
      <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="right-message">
        {{#if model.isSet}}
          <div class="move-message">You can only designate maximum {{minSetQty}} items.</div>
        {{else}}
          <div class="move-message">You can only designate maximum {{totalInHandItems}} items.</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="confirm_quantity">Confirm the quantities you are designating.</div>
    <div class="columns small-4 partial_designate_textfield">
      {{#if model.isSet}}
        {{partial-designate-input id=model.id value=model.minSetQty type="number" min="1" max=model.quantity item=model}}
      {{else}}
        {{partial-designate-input id=model.id value=model.availableQty type="number" min="1" max=model.quantity item=model}}
      {{/if}}
    </div>
    <div class="columns small-4">
      <button id="partial_designate" type="submit" class="button expand"{{action 'designate_partial_qty' model}}>{{t "item.designate_partial"}}</button>
    </div>
    <div class="columns small-4">
      {{#link-to 'items.index' tagName='div' href=false}}
        <button id="cancle_patial_designate" type="submit" class="button expand">{{t "cancel"}}</button>
      {{/link-to}}
  </div>
</div>
