<div class="location_block">
  <div class="row">
    <div class='move_location_header'>
      <div class="columns small-3 medium-3 large-3 back-link">
        {{#link-to 'items.detail' model.id classNames="back"}}
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <div class='back-text'>
            Back
          </div>
        {{/link-to}}
      </div>
      <div class='class= columns small-9 medium-9 large-9 inventory_number_location'>
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}: Location
      </div>
      <br><hr/>
    </div>
  </div>
  <div class="row">
    <div class="packages-location-header">
      <div class="columns small-12 medium-12 large-12 designated-list">
        <div class="columns small-3 medium-3 large-4">
          Locations: {{model.validPackagesLocations.length}}
        </div>
        <div class="columns small-4 medium-3 large-4 text-align-right">
          Total on Hand:
        </div>
        <div class="columns small-2 medium-2 large-1 text-align-right">
          {{model.receivedQuantity}}
        </div>
        <div class="columns small-3 medium-3 large-3">
        </div>
      </div>
    </div>
  </div>
  {{#each model.validPackagesLocations as |packagesLocation|}}
    <div class="row">
      <div class="packages-location-block">
        <div class="columns small-12 medium-12 large-12 designated-list">
          <div class="columns small-3 medium-3 large-4 orders-package-detail">
            <i class="fa fa-map-marker"></i>
            {{packagesLocation.location.name}}
          </div>
          <div class="columns small-4 medium-3 large-4 text-align-right">
            Qty:
          </div>
          <div id="packages-qty-location-{{packagesLocation.id}}" class="columns small-2 medium-2 large-1 text-align-right packages-location-qty">
             {{packagesLocation.quantity}}
          </div>
          {{#if packagesLocation.isEditing}}
            <div class="columns small-3 medium-4 large-3 move-link text-align-right move-qty">
              {{partial-move-input id=packagesLocation.id item=packagesLocation value=1}}
            </div>
          {{else}}
            <div {{action 'editPackagesLocation' packagesLocation}} class="columns small-3 medium-4 large-3 move-link text-align-right">
              Move
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
  {{#if isEditing}}
    <div class="row">
      <div class='columns small-12 medium-12 large-12 total-to-move'>
        <div class="columns small-10 medium-8 large-9 text-align-right">
          Total to move
        </div>
        <div class="columns small-2 medium-4 large-3 text-align-right total-move">
          0
        </div>
      </div>
    </div>
    <div class="row">
      <div class="partial-move-buttons">
        <div class="columns small-5 medium-5">
          <button id="partial_move" type="submit" class="button expand"{{action 'move_partial_qty' model}}>{{t "item.move"}}</button>
        </div>
        <div class="columns small-5 medium-5">
          <button id="not-now" {{action 'notNow' model}} class="button expand">Not now</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 medium-12 large-12 proceed-to-choose-destination">
        Proceeds to choose destination
      </div>
    </div>
  {{/if}}
</div>
