<div class="location_block">
  <div class="row">
    <div class='dispatch_location_header'>
      <div class='class= columns small-12 inventory_number_dispatch'>
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}: Dispatch to {{model.orderCode}}
      </div>

      <br><hr/>
    </div>
  </div>
  <div class="row">
    <div class="dispatched-location-header">
      <div class="columns small-12 dispatched-list">
          Where are <b> {{model.availableQtyForMove}} items</b> being dispatched from?
      </div>
    </div>
  </div>
  {{#each model.packagesLocations as |packagesLocation|}}
    <div class="row">
      <div class="dispatched-block">
        <div class="columns small-12 medium-12 large-12 designated-list">
          <div class="columns small-5 orders-package-detail">
            <i class="fa fa-map-marker"></i>
            {{packagesLocation.location.name}}
          </div>
          <div class="columns small-2 medium-1  text-align-right">
            Qty:
          </div>
          <div id="packages-qty-location-{{packagesLocation.id}}" class="columns small-2 medium-1 text-align-right packages-location-qty">
             {{packagesLocation.quantity}}
          </div>
          <div class="columns small-2 move-link text-align-right move-qty">
            {{partial-disptach-input id=packagesLocation.id item=packagesLocation ordersPackage=orderPackage value=1}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
    <div class="row">
      <div class='columns small-12 medium-12 large-12 total-to-move'>
        <div class="columns small-8 text-align-right">
          Total to dispatch (must = {{orderPackage.quantity}})
        </div>
        <div class="columns small-4 text-align-right ">
          <div class="columns small-1">

          </div>
          <div class="columns small-10 align-left total-move">
            0
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="packages-location-block partial-move-buttons">
        <div class="columns small-5 medium-5">
          <button id="partial_move" type="submit" class="button expand {{unless orderPackage.isSingleQuantity 'disabled'}} "{{action 'dispatchQty' model}}>Dispatch</button>
        </div>
        <div class="columns small-5 medium-5">
          {{#if (is-equal partialDispatchBackLinkpath 'items.detail')}}
            {{#link-to 'items.detail' model.id }}
              <button id="not-now" class="button expand">Not now</button>
            {{/link-to}}
          {{else if (is-equal partialDispatchBackLinkpath 'items.partial_undesignate')}}
            {{#link-to 'items.partial_undesignate' model.id }}
              <button id="not-now" class="button expand">Not now</button>
            {{/link-to}}
          {{else if (is-equal partialDispatchBackLinkpath 'orders.detail')}}
            {{#link-to 'orders.detail' model.firstOrdersPackage.orderId }}
              <button id="not-now" class="button expand">Not now</button>
            {{/link-to}}
          {{else}}
            {{#link-to "items.index" }}
              <button id="not-now" class="button expand">Not now</button>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
</div>

