<div>
  <div class="row item_block item_header">
    <div class="row dispatch_details {{if model.sentOn 'dispatched'}} {{if model.designation 'designated'}}">
      <div class="small-3 columns">
        {{#if model.sentOn}}
          <i class="fa fa-ship"></i> {{model.designation.code}}
        {{else if model.designation}}
          <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
        {{else}}
          {{publish-stock-item item=model}}
        {{/if}}
      </div>
      <div class="small-6 columns location-name">
        {{#unless model.sentOn}}
          <i class="fa fa-map-marker"></i> multiple
        {{/unless}}
      </div>
      <div class="small-3 columns">
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}
      </div>
    </div>
    <div class="row other_details item_details">
      <div class="small-3 large-2 columns image">
        <img src={{model.thumbImageUrl}} class="thumb"/>
      </div>
      {{#if hideDetailsLink}}
          <div class="small-6 large-8 columns name_details">
            <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
            <div class="ellipsis two-line-ellipsis">
              {{model.notes}}
            </div>
          </div>
      {{else}}
        <div class="small-6 large-8 columns name_details">
          <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
          <div class="ellipsis two-line-ellipsis">
            {{model.notes}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="warnings">
      <div class="warning_text">
        <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="right-message">
          <div class="move-message">Designates only part of set.</div>
        </div>
      </div><br/>
      <div class="warning_text">
        <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="right-message">
          <div class="move-message">You can only move maximum {{totalInHandItems}} items.</div>
        </div>
      </div>
    </div>
    <div class="confirm_quantity">Confirm the quantities you are moving.</div>
    {{#each model.packagesLocations as |packages_location|}}
      <div class="row">
        <div class="columns small-6 partial_designate_textfield">
          {{partial-move-input id=packages_location.id value=packages_location.quantity type="number" min="1" max=packages_location.quantity item=packages_location}}
        </div>
        <div class="columns small-6">
          <div id="location-name">
            of {{packages_location.originalQty}} from {{packages_location.location.name}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="partial-move-buttons">
    <div class="row">
      <div class="columns small-6 medium-6">
        <button id="partial_designate" type="submit" class="button expand"{{action 'move_partial_qty' model}}>{{t "item.move"}}</button>
      </div>
      <div class="columns small-6 medium-6">
        {{#link-to 'items.index' tagName='div' href=false}}
           <button id="cancle_patial_designate" type="submit" class="button expand">{{t "cancel"}}</button>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
