<div class="row item_block item_header">
  <div class="row dispatch_details {{if model.sentOn 'dispatched'}} {{if model.designation 'designated'}}">
    <div class="small-3 columns">
      {{#if model.sentOn}}
        <i class="fa fa-ship"></i> {{model.designation.code}}
      {{else if (is-greater model.designatedItemCount 1)}}
        <i class="fa fa-shopping-basket"></i> {{t "item.multiple"}}
      {{else if model.designation}}
        <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
      {{else}}
        {{publish-stock-item item=model}}
      {{/if}}
    </div>
    <div class="small-6 columns location-name">
      {{#unless model.sentOn}}
        <i class="fa fa-map-marker"></i> {{model.location.name}}
      {{/unless}}
    </div>
    <div class="small-3 columns">
      <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}
    </div>
  </div>

  <div class="row other_details item_details">
    <div class="small-3 large-2 columns image">
      <img src={{model.thumbImageUrl}} class="thumb"/>
    </div>

    {{#if hideDetailsLink}}
        <div class="small-6 large-8 columns name_details">
          <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
          <div class="ellipsis two-line-ellipsis">
            {{model.notes}}
          </div>
        </div>
    {{else}}
      <div class="small-6 large-8 columns name_details">
        <div class="ellipsis name one-line-ellipsis">{{model.quantity}} x {{model.code.name}}</div>
        <div class="ellipsis two-line-ellipsis">
          {{model.notes}}
        </div>
      </div>
    {{/if}}

    {{!--
    {{#if displaySetBlock}}
      {{#if item.isSet}}
        <div class="small-3 large-2 columns">
          <div class="set-link" {{action "displaySetItems" item on='click' bubbles=false}}><i class="fa fa-tag"></i> Go to set </div>
        </div>
      {{/if}}
    {{/if}}
    --}}
  </div>

  <div class="confirm_quantity">Confirm the quantities you are undesignating.</div>
  <div class="partial_undesignate_block">
    {{#each model.orderPackagesMoreThenZeroQty as |ordersPackage|}}
      <div class="row">
        <div class="columns small-4 medium-4 partial_undesignate_textfield">
          {{partial-undesignate-input id=ordersPackage.id value=ordersPackage.availableQty type="number" min="1" max=ordersPackage.quantity designationPackage=ordersPackage}}
        </div>
        <div class="warnings columns small-8 medium-8">
          <div class="warning_text" style="margin-top:0 !important">
            <div class="right-message">
              {{t "item.max_undesignate" qty=ordersPackage.quantity code=ordersPackage.designation.code}}
            </div>
          </div>
        </div>

      </div>
    {{/each}}
  </div>

  <div class="undesignate-buttons">
    <div clas="row">
      <div class="columns small-6 medium-6">
        <button id="undesignateButton" type="submit" class="button expand"{{action 'getConfirmationPopUp' model}}>{{t "item.partial_undesignate"}}</button>
      </div>
      <div class="columns small-6 medium-6 undesignate-button">
        {{#link-to 'items.index' tagName='div' href=false}}
           <button type="submit" class="button expand">{{t "cancel"}}</button>
        {{/link-to}}
      </div>
    </div>
  </div>

</div>

{{#message-box btn1Text=(t "okay") btn1Callback=(action "undesignate_partial_qty" model) btn2Text=(t "cancel") isVisible=promptUserPopUp classNames="popupOverlay designate-form undesignate-popup"}}
  <div class="undesignate-message">
    {{{print-key-value-pair codeAndQuantities}}}
  </div>
{{/message-box}}
