<div class="status-block">
  <div class="row">
    <div class="undesignate-header">
      <div class="columns small-3 medium-3 large-3 back-link">
        {{#if (is-equal partialUndesignateBackLinkpath 'items.detail')}}
          {{#link-to 'items.detail' model.id classNames="back"}}
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <div class="back-text">
              Back
            </div>
          {{/link-to}}
        {{else}}
          {{#link-to "items.index" class="back"}}
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <div class="back-text">
              Back
            </div>
          {{/link-to}}
        {{/if}}
      </div>
      <div class="columns small-9 medium-9 large-9 inventory-status">
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}: Status
      </div>
      <br><hr/>
    </div>
  </div>

  <div class="row">
    <div class="item-status-header first">
      <div class="columns small-4 item-status-block">
      {{#unless model.allowWebPublish}}
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
      {{else}}
        <i class="fa fa-eye" aria-hidden="true"></i>
      {{/unless}}
        <span class="item-status-text">Available </span>
        {{#unless model.allowWebPublish}}
          <span class="item-status-private-text">(Private)</span>
        {{/unless}}
      </div>
      <div class="columns small-5 item-status-quantity">
        <div class="columns small-5 item-status-quantity">
          Qty:
        </div>
        <div class="columns small-5 item-status-quantity">
          {{model.quantity}}
        </div>
        <div class="columns small-4 item-status-quantity">

        </div>
      </div>
      <div class="columns small-3 item-status-quantity publish-item">
        {{#if model.quantity}}
          {{publish-item item=model}}
        {{/if}}
      </div>
    </div>
  </div>

  {{#if model.designatedOrdersPackages.length}}
    <div class="row">
      <div class="item-status-header">
        <div class="columns small-4 item-status-block">
          <i class="fa fa-shopping-basket"></i>
          <span class="item-status-text">Designated</span>
        </div>
        <div class="columns small-5 item-status-quantity">
          <div class="columns small-5 item-status-quantity">
            Qty:
          </div>
          <div class="columns small-5 item-status-quantity">
            {{model.totalDesignatedQty}}
          </div>
          <div class="columns small-4 item-status-quantity">

          </div>
        </div>
        <div class="columns small-2 item-status-quantity">

        </div>

      </div>
    </div>


    {{#each model.designatedOrdersPackages as |ordersPackage|}}
      <div class="row">
        <div class="order-block">
          {{#link-to "orders.detail" ordersPackage.designation.id tagName='span' href=false}}
            <div class="columns small-9 medium-9 large-9 package-list light-theme" style="cursor: pointer;">
              {{#link-to "orders.detail" ordersPackage.designation.id tagName='span' href=false}}
                <div class="columns small-7 orders-package-detail">
                  {{ordersPackage.designation.code}} - {{ordersPackage.designation.status}}
                </div>
                <div class="columns small-2 orders-package-quantity">
                  Qty:
                </div>
                <div class="columns small-3 orders-package-quantity">
                  {{ordersPackage.quantity}}
                </div>
                <br/>
                <div class="columns small-8 medium-8 large-8 ellipsis name two-line-ellipsis organisation-name">
                  {{ordersPackage.designation.organisation.name}}
                </div>
              {{/link-to}}
            </div>
          {{/link-to}}
          <div class="columns small-1 medium-1 large-1 modify-packages allign-modify-package" style="cursor: pointer;">
            {{#link-to "items.modify_designation" model.id (query-params ordersPackageId=ordersPackage.id) tagName='span' href=false}}
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            {{/link-to}}
              <br>
            {{#link-to "items.modify_designation" model.id (query-params ordersPackageId=ordersPackage.id) tagName='span' href=false}}
              <span class="modify-text">Modify</span>
            {{/link-to}}
          </div>
          <div class="columns small-1 medium-1 large-1 dispatch-packages" {{action 'dispatch' model ordersPackage}} style="cursor: pointer;">
            <i class="fa fa-ship" aria-hidden="true"></i>
            <br>
            <span class="dispatch-text">Dispatch</span>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{#if model.dispatchedOrdersPackages.length}}
    <div class="row">
      <div class="item-status-header">
        <div class="columns small-4 item-status-block">
          <i class="fa fa-ship"></i>
          <span class="item-status-text">Dispatched</span>
        </div>
        <div class="columns small-5 item-status-quantity">
          <div class="columns small-5 item-status-quantity">
            Qty:
          </div>
          <div class="columns small-5 item-status-quantity">
             {{model.totalDispatchedQty}}
          </div>
          <div class="columns small-4 item-status-quantity">

          </div>
        </div>
        <div class="columns small-2 item-status-quantity">

        </div>
      </div>
    </div>

    {{#each model.dispatchedOrdersPackages as |ordersPackage|}}
      <div class="row">
        <div class="order-block">
          {{#link-to "orders.detail" ordersPackage.designation.id tagName='span' href=false}}
            <div class="columns small-9 medium-9 large-9 package-list dark-theme" style="cursor: pointer;">
              {{#link-to "orders.detail" ordersPackage.designation.id tagName='span' href=false}}
                <div class="columns small-7 orders-package-detail">
                  {{ordersPackage.designation.code}} - {{ordersPackage.designation.status}}
                </div>
                <div class="columns small-2  orders-package-quantity">
                  Qty:
                </div>
                <div class="columns small-3 orders-package-quantity">
                  {{ordersPackage.quantity}}
                </div>
                <br/>
                <div class="columns small-8 medium-8 large-8 ellipsis name two-line-ellipsis organisation-name">
                  {{ordersPackage.designation.organisation.name}}
                </div>
              {{/link-to}}
            </div>
          {{/link-to}}
          <div class="columns small-1 medium-1 large-1 modify-packages">
          </div>
          <div class="{{if (is-or model.designation.isCancelled model.designation.isClosed) "disable-pointer-events" ''}} columns small-1 medium-1 large-1 undispatch-packages" style="cursor: pointer;">
            {{undispatch-item item=ordersPackage.item ordersPackage=ordersPackage closeList=closeList isUndispatchFromPartialUndesignate=true}}
          </div>
        </div>
      </div>
    {{/each}}
    <br/>
  {{/if}}
  <div class="row">
    <hr/>
  </div>
  <div class="status-qty">
    <div class="row">
      <div class="columns small-5 medium-4  on-hand">
        Total quantity on hand:
      </div>
      <div class="columns small-1 align-right ">
        {{model.onHandQty}}
      </div>
      <div class="columns small-5">

      </div>

    </div>
    <div class="row">
      <div class="columns small-5  medium-4 ">
        Total Lifetime quantity:
      </div>
      <div class="columns small-1 align-right">
        {{model.receivedQuantity}}
      </div>
      <div class="columns small-5">

      </div>
    </div>
  </div>
</div>
