<div>
  <div class="row item_block item_header">
    <div class="row dispatch_details {{if model.hasAllPackagesDispatched 'dispatched'}} {{if model.hasAllPackagesDesignated 'designated'}} {{if (is-and (is-not model.quantity) model.designatedOrdersPackages.length) 'designated'}}">
      <div class="small-3 columns">
        {{#if model.hasAllPackagesDesignated}}
          {{#if model.hasOneDesignatedPackage}}
              <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
          {{else}}
              <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
          {{/if}}
        {{else if model.hasAllPackagesDispatched}}
          {{#if model.hasOneDispatchedPackage}}
            {{#link-to 'orders.detail' model.hasOneDispatchedPackage.designation.id tagName='span' href=false}}
              <i class="fa fa-ship"></i> {{model.hasOneDispatchedPackage.designation.code}}
            {{/link-to}}
          {{else}}
            <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
          {{/if}}
        {{else if (is-not model.quantity)}}
          {{#if model.hasOneDesignatedPackage}}
              <i class="fa fa-shopping-basket"></i> {{model.designation.code}}
          {{else if model.designatedOrdersPackages.length}}
              <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
          {{else if model.hasOneDispatchedPackage}}
              <i class="fa fa-ship"></i> {{model.hasOneDispatchedPackage.designation.code}}
          {{else if model.dispatchedOrdersPackages.length}}
            <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
          {{/if}}
        {{else}}
          <div class="stock_status">
            <i class="fa {{if model.allowWebPublish 'fa-eye' 'fa-eye-slash'}}" aria-hidden="true"></i> In Stock
          </div>
        {{/if}}
      </div>
      <div class="small-6 columns location-name">
        {{#unless model.hasAllPackagesDispatched}}
          <i class="fa fa-map-marker"></i>
          {{#if model.hasSingleLocation}}
            {{model.firstLocationName}}
          {{else}}
            {{#link-to 'items.partial_move' model.id tagName='span' href=false}} Multiple {{/link-to}}
          {{/if}}
        {{/unless}}
      </div>
      <div class="small-3 columns">
        <i class="fa {{if model.isSet 'fa-tags' 'fa-tag'}}"></i> {{model.inventoryNumber}}
      </div>
    </div>
    <div class="row other_details item_details">
      <div class="small-3 large-2 columns image">
        <img src={{model.thumbImageUrl}} class="thumb"/>
      </div>
      {{#if hideDetailsLink}}
        {{#link-to 'items.detail' model.id }}
          <div class="small-6 large-8 columns name_details">
            <div class="ellipsis name one-line-ellipsis" style="display: inline !important">{{model.quantity}} x {{model.code.name}}</div>
            <span style="margin-left: 0.25rem;">
              {{model.quantity}}/{{model.totalDesignatedQty}}/{{model.totalDispatchedQty}}
            </span>
            <div class="ellipsis two-line-ellipsis">
              {{model.notes}}
            </div>
          </div>
        {{/link-to}}
      {{else}}
        {{#link-to 'items.detail' model.id }}
          <div class="small-6 large-8 columns name_details">
            <div class="ellipsis name one-line-ellipsis" style="display: inline !important">{{model.quantity}} x {{model.code.name}}</div>
            <span style="margin-left: 0.25rem;">
              {{model.quantity}}/{{model.totalDesignatedQty}}/{{model.totalDispatchedQty}}
            </span>
            <div class="ellipsis two-line-ellipsis">
              {{model.notes}}
            </div>
          </div>
        {{/link-to}}
      {{/if}}
    </div>
    <div class="warnings">
      <div class="warning_text">
        <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="right-message">
          <div class="move-message">You can only move maximum {{model.availableQtyForMove}} quantity of item.</div>
        </div>
      </div>
    </div>
    <div class="confirm_quantity">Confirm the quantity you are moving.</div>
    {{#each model.packagesLocationsList as |packages_location|}}
      <div class="row">
        <div class="columns small-6 partial_designate_textfield">
          {{partial-move-input id=packages_location.id value=packages_location.quantityToMove item=packages_location}}
        </div>
        <div class="columns small-6">
          <div id="location-name">
            of {{packages_location.quantity}} from {{packages_location.location.name}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="partial-move-buttons">
    <div class="row">
      <div class="columns small-6 medium-6">
        <button id="partial_move" type="submit" class="button expand"{{action 'move_partial_qty' model}}>{{t "item.move"}}</button>
      </div>
      <div class="columns small-6 medium-6">
        {{#link-to 'items.index' tagName='div' href=false}}
           <button id="cancle_patial_designate" type="submit" class="button expand">{{t "cancel"}}</button>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>

{{#message-box btn1Text="OK" isVisible=isZeroQuantity classNames="popupOverlay designate-form"}}
  <p> Total quantity is 0. Plaese add some quantity to move. </p>
{{/message-box}}
