<div class="row fixed_search_header search-box ui items-search">
  <div class="small-3 large-2 columns ">
    {{partial 'items/item_back_link'}}
  </div>

  <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search")
      value=searchText }}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
  </div>

  {{#if isMobileApp}}
    <div class="small-2 large-2 columns scan-icon">
      {{barcode-scanner route="items.search_location"}}
    </div>
  {{/if}}
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{else}}

        {{#if filteredResults}}
          <ul class="list list-activity list-offer-items">
            {{#each filteredResults as |location|}}
              <li {{action 'displayMoveOverlay' location}}>
                <div class="row">
                  <div class="small-6 columns building_name">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>

          {{#infinity-loader}}
          {{/infinity-loader}}

        {{else if hasNoResults}}
          <div class='no_result'>{{t "no_search_results"}}</div>
        {{else if recentlyUsedLocations}}

          <div class="recent_locations">Recently used locations</div>

          <ul class="list list-activity list-offer-items">
            {{#each recentlyUsedLocations as |location|}}
              <li {{action 'displayMoveOverlay' location}}>
                <div class="row">
                  <div class="small-6 columns building_name">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>

        {{/if}}
      {{/if}}
    </div>
  </div>

</section>

{{#if isSet}}

  {{#message-box btn1Text=(t "item.move") btn1Callback=(action "moveItem") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

    <p>Moving this multi-part set to Bldg {{selectedLocation.building}} Area {{selectedLocation.area}}</p>

    {{#each item.setItem.items as |item|}}
      {{partial 'items/set_item_block'}}
    {{/each}}

    <div class="warnings">
      {{#if item.setItem.multiQuantitySet}}
          <div class="warning_text">
            <i class="fa fa-exclamation-triangle"></i>
            Moves entire quantity.
          </div>
        {{/if}}
    </div>
  {{/message-box}}

  {{#message-box btn1Text=(t "item.move") btn1Callback=(action "movePartialQty") btn2Text=(t "cancel") isVisible=movePartialQtyToLocation classNames="popupOverlay designate-form"}}
    <p>Moving {{totalQty}} of {{item.quantity}} to Bldg {{selectedLocation.building}} Area {{selectedLocation.area}} </p>

    {{partial 'orders/item_block'}}

  {{/message-box}}

{{else}}

  {{#message-box btn1Text=(t "item.move") btn1Callback=(action "moveItem") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

    <p>Moving this item to Bldg {{selectedLocation.building}} Area {{selectedLocation.area}}</p>

    {{partial 'orders/item_block'}}

    <div class="warnings">

      {{#if (is-greater item.quantity 1)}}
        <div class="warning_text">
          <i class="fa fa-exclamation-triangle"></i>
          Moves quantity of {{item.quantity}}
        </div>
      {{/if}}

      {{#if item.isSet}}
        <div class="warning_text">
          <div class="left-icon"><i class="fa fa-exclamation-triangle"></i></div>
          <div class="right-message">
            <div class="move-message">Moves only part of set. You could move the {{#link-to 'items.detail' item}} entire set {{/link-to}} instead.</div>
          </div>
        </div>
      {{/if}}

    </div>
  {{/message-box}}

  {{#message-box btn1Text=(t "item.move") btn1Callback=(action "movePartialQty") btn2Text=(t "cancel") isVisible=movePartialQtyToLocation classNames="popupOverlay designate-form"}}
    <p>Moving {{totalQty}} of {{item.quantity}} to Bldg {{selectedLocation.building}} Area {{selectedLocation.area}} </p>

    {{partial 'orders/item_block'}}

  {{/message-box}}

  {{#message-box btn1Text="OK" isVisible=cantMoveToSameLocationForSingleLocation classNames="popupOverlay designate-form"}}
    <p> You are trying to move quantity to same location. Full quantity is located at Bldg {{selectedLocation.building}} Area {{selectedLocation.area}} </p>
  {{/message-box}}

  {{#message-box btn1Text=(t "item.move") btn1Callback=(action "undispatchFullQuantity") btn2Text=(t "cancel") isVisible=isUndispatchFullQuantity classNames="popupOverlay designate-form"}}
    <p>Undispatching this item to Bldg {{selectedLocation.building}} Area {{selectedLocation.area}} </p>

    {{partial 'orders/item_block'}}

  {{/message-box}}
{{/if}}
