<nav class="tab-bar new-user-nav">
  <section class="tab-bar-section">
    <h1 class="title">Add - User</h1>
  </section>
</nav>

<section class="main-section new-user-section ui">

  {{#validatable-form onSubmit=(action 'saveUser') as |form|}}
    <div class="row">
      <div class="small-3 columns item-label">
        First Name
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{input type='text' value=firstName placeholder=lNamePlaceholder}}
        {{/form-control}}
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns item-label">
        Family Name
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{input type='text' value=lastName placeholder=fNamePlaceholder}}
        {{/form-control}}
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns item-label">
        Mobile
      </div>
      <div class="small-1 columns ui">
         <label>+852</label>
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{numeric-input value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" placeholder=phoneNumberPlaceholder required='true' pattern=".{8,}" }}
          <div class='input-error'>Mobile Number should be 8 digits.</div>
        {{/form-control}}
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns item-label">
        Email
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{input value=email name="email" id="email" type="email" placeholder=emailPlaceholder required='true'}}
          <div class='input-error'>Email should be valid.</div>
        {{/form-control}}
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns item-label">
        Position
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{input type='text' value=position placeholder=positionPlaceholder}}
        {{/form-control}}
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <a {{action 'cancelForm'}} class="button secondary expand">Cancel</a>
      </div>

      <div class="small-6 columns">
        <a {{action 'submit' target=form}} class="button expand">Save</a>
      </div>
    </div>

  {{/validatable-form}}

</section>
