<a {{action "toggleOrderOptions"}}><i class="order-option-ellipsis fa fa-ellipsis-v options"></i></a>

<div class="options_menu_list {{if displayOrderOptions '' 'hidden'}}">
  {{#if model.isClosed}}
    <div class="option_menu">
      <a {{action "updateOrder" model "reopen"}}>
        <i class="fa fa-repeat"></i>
        {{t "order.reopen_order"}}
      </a>
    </div>
  {{/if}}

  {{#if model.isAwaitingDispatch}}
    <div class="option_menu">
      <a {{action "updateOrder" model "restart_process"}}>
        <i class="order_menu fa fa-repeat"></i>
        {{t "order.restart_process"}}
      </a>
    </div>
  {{/if}}

  {{#if model.isDispatching}}
    <div class="option_menu">
      <a {{action "updateOrder" model "dispatch_later"}}>
        <i class="order_menu fa fa-repeat"></i>
        {{t "order.dispatch_later"}}
      </a>
    </div>
  {{/if}}

  {{#if model.isCancelled}}
    <div class="option_menu">
      <a {{action "updateOrder" model "resubmit"}}>
        <i class="order_menu fa fa-repeat"></i>
        {{t "order.resubmit"}}
      </a>
    </div>
  {{/if}}
</div>
