<nav class="tab-bar order_fixed_header">
  <section class="left-small">
    {{#link-to backLinkPath classNames="back" }}
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div>{{t "back"}}</div>
    {{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "order_details.order"}} {{model.code}}</h1>
  </section>

  <section class="right-small">
    <a><i class="fa fa-ellipsis-v options"></i></a>
  </section>
</nav>

<section class="main-section order_page">
  <div class="row">
    <div class="small-12 columns offer-status">
      <div class="time-details">
        {{t "order_details.submitted"}} {{display-datetime model.createdAt format="DD MMM 'YY"}}
      </div>
      <div class="state">
        {{model.status}}
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="small-12 columns main_details">
      <div class="row">
        <div class="small-4 columns">
          Organisation:
        </div>
        <div class="small-8 columns">
          {{{apply-line-break model.organisation.name}}}
        </div>
      </div>

      <div class="row">
        {{#link-to "orders.contact" model.id}}
          <div class="small-4 columns">
            Contact:
          </div>
          <div class="small-7 columns">
            {{model.contact.fullName}}
          </div>
          <div class="small-1 columns icons">
            <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
          </div>
        {{/link-to}}
      </div>

      {{#if model.isLocalOrder}}
        <div class="row">
          {{#link-to "orders.client" model.id}}
            <div class="small-4 columns">
              Client:
            </div>

            <div class="small-7 columns">
              {{model.localOrder.clientName}}
              {{#if model.localOrder.hkidNumber}}
                ({{model.localOrder.hkidNumber}})
              {{/if}}
            </div>
            <div class="small-1 columns icons">
              <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
            </div>
          {{/link-to}}
        </div>

        <div class="row">
          {{#link-to "orders.info" model.id}}
            <div class="small-4 columns">
              Order Info:
            </div>

            <div class="small-7 columns ellipsis two-line-ellipsis">
              {{model.localOrder.purposeOfGoods}}
            </div>
            <div class="small-1 columns icons">
              <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
            </div>
          {{/link-to}}
        </div>
      {{/if}}

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns item_count">
      <span>{{t "order_details.items"}}</span>
      ({{model.designatedItems.length}} Designated, {{model.dispatchedItems.length}} Dispatched)
    </div>
  </div>

  <div class="row add_item_button">
    <div class=" {{if isMobileApp 'small-9' 'small-12'}} columns">
      {{#link-to "orders.items" model (query-params searchInput="") class="button expand"}}{{t "order_details.add_item_to_order"}}{{/link-to}}
    </div>
    {{#if isMobileApp}}
      <div class="small-3 columns">
        {{scan-barcode-button record=model route="orders.items"}}
      </div>
    {{/if}}
  </div>

  {{#each itemsList as |item|}}
    {{partial "orders/item_block"}}
  {{/each}}

  <div class="row show_more" >
    {{#unless displayAllItems}}
      <div class="small-12 columns" {{action "displayAllItems"}}>
        {{t "order_details.show_more_items"}} <i class="fa fa-angle-down back_icon" aria-hidden="true"></i>
      </div>
    {{/unless}}
  </div>

</section>
