<nav class="tab-bar order_fixed_header">
  <section class="left-small">
    {{#link-to 'orders' classNames="back"}}
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div>{{t "back"}}</div>
    {{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "order_details.order"}} {{model.code}}</h1>
  </section>

  <section class="right-small">
    <a><i class="fa fa-ellipsis-v options"></i></a>
  </section>
</nav>

<section class="main-section order_page">
  <div class="row">
    <div class="small-12 columns offer-status">
      <div class="time-details">
        {{t "order_details.submitted"}} {{model.started_on}}
      </div>
      <div class="state">
        {{model.status}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main_details">
      <div class="small-2 columns icons">
        <i class="fa fa-users"></i>
      </div>
      <div class="small-10 columns">
        {{{apply-line-break model.organisation.name}}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main_details">
      <div class="small-2 columns icons">
        <i class="fa fa-user"></i>
      </div>
      {{#link-to "contacts.detail" model.contact.id}}
      <div class="small-8 columns user_name">
          {{model.contact.fullName}}
      </div>
      <div class="small-2 columns icons">
        <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
      </div>
      {{/link-to}}
    </div>
  </div>

  <div class="client_details">
    <div class="row">
      <div class="small-4 large-2 columns icons">
        {{t "order_details.client_name"}}
      </div>
      <div class="small-8 large-10 columns user_name">
        {{model.localOrder.clientName}}
      </div>
    </div>

    <div class="row">
      <div class="small-4 large-2 columns icons">
        {{t "order_details.hkid"}}
      </div>
      <div class="small-8 large-10 columns user_name">
        {{model.localOrder.hkidNumber}}
      </div>
    </div>

    <div class="row">
      <div class="small-4 large-2 columns icons">
        {{t "order_details.reference"}}
      </div>
      <div class="small-8 large-10 columns user_name">
        {{model.localOrder.referenceNumber}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns item_count">
      <span>{{t "order_details.items"}}</span>
      ({{model.designatedItems.length}} Designated, {{model.dispatchedItems.length}} Dispatched)
    </div>
  </div>

  <div class="row add_item_button">
    <div class="small-9 columns">

      {{#link-to "orders.items" model (query-params searchText="") class="button expand"}}{{t "order_details.add_item_to_order"}}{{/link-to}}
    </div>
    <div class="small-3 columns">
      {{scan-barcode-button order=model}}
    </div>
  </div>

  {{#each itemsList as |item|}}
    {{partial "orders/item_block"}}
  {{/each}}

  <div class="row show_more" >
    {{#unless displayAllItems}}
      <div class="small-12 columns" {{action "displayAllItems"}}>
        {{t "order_details.show_more_items"}} <i class="fa fa-angle-down back_icon" aria-hidden="true"></i>
      </div>
    {{/unless}}
  </div>

  <div class="other_details">
    <div class="row heading">
      <div class="small-12 columns">
        Details
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Activity:
      </div>
      <div class="small-8 columns">
        Community Development
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Description:
      </div>
      <div class="small-8 columns">
        We give migrant mothers the tools to understand their more
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Purpose:
      </div>
      <div class="small-8 columns">
        To equip our offer so that we can better serve our consituents more
      </div>
    </div>
  </div>

</section>
