<div class="row fixed_search_header">
  <div class="small-12 columns search-box ui">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder="Search"
      value=searchText }}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
    <a href="#" {{action "cancelSearch"}}>Cancel</a>
  </div>
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{/if}}

      {{#if filteredResults}}
        <ul class="list list-activity list-offer-items">
          {{#each filteredResults as |order|}}
            {{partial 'orders/order_block'}}
          {{/each}}
        </ul>

        {{#infinity-loader}}
        {{/infinity-loader}}

      {{else if hasNoResults}}
        <div class='no_result'>No Search Results.</div>
      {{/if}}
    </div>
  </div>

  {{partial "sticky_footer"}}
</section>
