<div class="row fixed_search_header items-search search-box ui">
  <div class="small-12 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search_min")
      value=searchText }}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
  </div>
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{/if}}

      {{#if filteredResults}}
        <ul class="list list-activity list-offer-items">
          {{#each filteredResults as |order|}}
            {{#link-to 'orders.detail' order href=false}}
              {{partial 'orders/order_block'}}
            {{/link-to}}
          {{/each}}
        </ul>

        {{#infinity-loader}}
        {{/infinity-loader}}

      {{else if hasNoResults}}
        <div class='no_result'>{{t "no_search_results"}}</div>
      {{/if}}
    </div>
  </div>

  {{partial "sticky_footer"}}
</section>
