<div class="row item_block">
  <div class="row dispatch_details {{if item.sentOn 'dispatched'}} {{if item.designation 'designated'}}">
    <div class="small-3 columns">
      {{#if item.sentOn}}
        {{#link-to 'orders.detail' item.designation tagName='span' href=false}}
          <i class="fa fa-ship"></i> {{item.designation.code}}
        {{/link-to}}
      {{else if item.designation}}
        {{#link-to 'orders.detail' item.designation tagName='span' href=false}}
          <i class="fa fa-shopping-basket"></i> {{item.designation.code}}
        {{/link-to}}
      {{else}}
        <i class="fa fa-eye" aria-hidden="true"></i> In Stock
      {{/if}}
    </div>
    <div class="small-6 columns location-name">
      {{#unless item.sentOn}}
        <i class="fa fa-map-marker"></i> {{item.location.name}}
      {{/unless}}
    </div>
    <div class="small-3 columns">
      <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i> {{item.inventoryNumber}}
    </div>
  </div>

  <div class="row other_details item_details">
    <div class="small-3 large-2 columns image">
      <img src="assets/images/default_item.jpg" class="thumb cl-item-image">
    </div>

    <div class="small-6 large-8 columns name_details">
      <div class="ellipsis name one-line-ellipsis">{{item.quantity}} x {{item.code.name}}</div>
      <div class="ellipsis two-line-ellipsis">
        {{item.notes}}
      </div>
    </div>

    {{#if displaySetBlock}}
      {{#if item.isSet}}
        <div class="small-3 large-2 columns">
          <div class="set-link" {{action "displaySetItems" item on='click' bubbles=false}}><i class="fa fa-tag"></i> Go to set </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if displayItemOptions}}
      <div class="small-3 large-2 columns">
        {{item-options item=item order=model}}
      </div>
    {{/if}}

    {{#if displayItemOptionsList}}
      <div class="small-3 large-2 columns">
        {{item-options-list item=item}}
      </div>
    {{/if}}

  </div>
</div>
