<div class="row fixed_search_header search-box ui items-search">
  <div class="small-3 large-2 columns ">
    {{#link-to 'orders.detail' model classNames="back"}}
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div class="back_text">{{model.code}}</div>
    {{/link-to}}
  </div>
  <div class="columns {{if isMobileApp 'small-7 large-9' 'small-9 large-10'}} ">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder="Search"
      value=searchText }}
    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
  </div>

  {{#if isMobileApp}}
    <div class="small-2 large-1 columns scan-button">
      {{scan-barcode-button order=model}}
    </div>
  {{/if}}
</div>

<section class="main-section items_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{/if}}

      {{#if filteredResults}}
        <ul class="list list-activity list-offer-items">
          {{#each filteredResults as |item|}}
            {{#designate-form order=model item=item autoDisplayOverlay=autoDisplayOverlay displaySetItems=(action "displaySetItems" item)}}
              {{partial 'orders/item_block'}}
            {{/designate-form}}
          {{/each}}
        </ul>

        {{#infinity-loader}}
        {{/infinity-loader}}

      {{else if hasNoResults}}
        <div class='no_result'>{{t "no_search_results"}}</div>
      {{/if}}
    </div>
  </div>

</section>
