<div class="row item_block">
  {{partial "items/item_status_bar"}}

  <div class="row other_details item_details">
    <div class="small-3 large-2 columns image">
      <img src={{item.thumbImageUrl}} class="thumb"/>
    </div>

    {{#if hideDetailsLink}}
        {{partial 'items/item_description'}}
    {{else}}
      {{#link-to 'items.detail' item.id }}
        {{partial 'items/item_description'}}
      {{/link-to}}
    {{/if}}

    {{#if displayItemOptions}}
      <div class="small-3 large-2 columns">
        {{item-options item=item order=model}}
      </div>
    {{/if}}

    {{#if displayItemOptionsList}}
      <div class="small-3 large-2 columns">
        {{item-options-list item=item ordersPackage=item.firstOrdersPackage}}
      </div>
    {{/if}}

  </div>
</div>
