<div class="row item_block">
  {{partial "items/item_status_bar"}}

  <div class="row other_details item_details">
    <div class="small-3 large-2 columns image">
      <img src={{item.thumbImageUrl}} class="thumb"/>
    </div>

    {{#link-to 'items.detail' item }}
      <div class="small-6 large-8 columns name_details">
        <div class="ellipsis name one-line-ellipsis">{{item.quantity}} x {{item.code.name}}</div>
        <div class="ellipsis two-line-ellipsis">
          {{item.notes}}
        </div>
      </div>
    {{/link-to}}

    {{#if displaySetBlock}}
      {{#if item.isSet}}
        <div class="small-3 large-2 columns">
          <div class="set-link" {{action "displaySetItems" item on='click' bubbles=false}}><i class="fa fa-tag"></i> Go to set </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if displayItemOptions}}
      <div class="small-3 large-2 columns">
        {{item-options item=item order=model}}
      </div>
    {{/if}}

    {{#if displayItemOptionsList}}
      <div class="small-3 large-2 columns">
        {{item-options-list item=item}}
      </div>
    {{/if}}

  </div>
</div>
