{{#link-to 'orders.detail' order tagName='li' href=false}}

    <div class="row state_details">
      <div class="small-5 columns">
        {{order.code}} - {{order.status}}
      </div>
      <div class="small-4 columns">
        10 <i class="fa fa-shopping-basket"></i>
        0 <i class="fa fa-ship"></i>
      </div>
      <div class="small-3 columns">
        {{display-datetime order.createdAt format="DD MMM 'YY"}}
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {{order.organisation.name}}
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {{order.contact.fullName}}: {{order.contact.displayNumber}}
        {{#if order.localOrder.clientName}}
          for {{order.localOrder.clientName}}
        {{/if}}
      </div>
    </div>

{{/link-to}}
