<li class="order_block">

    <div class="row order_header">

      <div class="small-4 columns order_transport"> 
        <i class="fa fa-lg fa-{{ order.transportIcon }}"></i> {{ order.transportLabel }}
      </div>

      <div class="small-3 columns order_code">
        {{order.code}}
      </div>

      <div class="small-5 columns order_state">
        <div class="order_state_icon {{ order.state }}">
          <i class="fa fa-{{ order.stateIcon }}"></i>
        </div>
        <div class="order_state_text"> {{ t (concat "order." order.state) }} </div>
      </div>

    </div>

    <div class="row order_body">

      {{#if (is-and order.orderTransport order.orderTransport.scheduledAt)}}
        <div class="row">
          <div class="small-4 columns field">
            {{ t "order.due_date" }}
          </div>
          <div class="small-8 columns value">
            {{  display-datetime order.orderTransport.scheduledAt format="dddd Do MMMM hh:mm a" }}
          </div>
        </div>
      {{/if}}

      {{#if order.submittedBy}}
        <div class="row">
          <div class="small-4 columns field">
            {{ t "order.submitted_by" }}
          </div>
          <div class="small-8 columns value">
            {{ order.submittedBy.firstName }} {{ order.submittedBy.lastName }}
          </div>
        </div>
      {{/if}}
      
      {{#if (is-or order.gcOrganisationId or order.organisationId)}}
        <div class="row">
          <div class="small-4 columns field">
            {{ t "organisation_title" }}
          </div>
          <div class="small-8 columns value">
            {{ if order.isGoodCityOrder order.gcOrganisation.nameEn order.organisation.name }}
          </div>
        </div>
      {{/if}}

      {{#if order.stockitContact}}
        <div class="row">
          <div class="small-4 columns field">
            {{ t "order.submitted_for_client" }}
          </div>
          <div class="small-8 columns value">
            {{order.stockitContact.fullName}}
          </div>
        </div>
      {{/if}}

      {{#if (is-or order.designatedOrdersPackages.length order.dispatchedOrdersPackages.length)}}
          <div class="row order_process_summary">
            <div class="small-4 columns field">
              {{ t "order.process_summary" }}
            </div>
            <div class="small-8 columns value">
              <span>{{order.designatedOrdersPackages.length}} <i class="fa fa-shopping-basket"></i></span>
              <span>{{order.dispatchedOrdersPackages.length}} <i class="fa fa-ship"></i></span>
            </div>
          </div>
      {{/if}}

    </div>

</li>
