<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/items_list_tabs"}}
</section>
