<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  <div class="row">
    <div class="small-12 columns main_details">
      <div class="row">
        <div class="small-4 columns">
          Organisation:
        </div>
        <div class="small-8 columns organisation_name">
          {{apply-line-break (if model.isGoodCityOrder model.gcOrganisation.nameEn model.organisation.name)}}
        </div>
      </div>

      <div class="row">
        {{#link-to "orders.contact" model.id}}
          <div class="small-4 columns">
            Contact:
          </div>
          <div class="small-7 columns">
            {{#if model.isGoodCityOrder}}
              {{model.submittedBy.fullName}}
            {{else}}
              {{model.stockitContact.fullName}}
            {{/if}}
          </div>
          <div class="small-1 columns icons">
            <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
          </div>
        {{/link-to}}
      </div>

      <div class="row">
        {{#link-to "orders.order_transport" model}}
          <div class="small-4 columns">
            Transport:
          </div>
          <div class="small-7 columns">
            {{model.orderTransport.type}}
          </div>
          <div class="small-1 columns icons">
            <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
          </div>
        {{/link-to}}
      </div>

      <div class="row">
        {{#link-to "orders.purposes" model}}
          <div class="small-4 columns">
            Purposes:
          </div>
          <div class="small-7 columns">
            {{#each model.ordersPurposes as |orderPurpose index|}}
              {{orderPurpose.purpose.nameEn}}{{if (is-last-word-in-array model.ordersPurposes.length index) ',' ''}}
            {{/each}}
          </div>
          <div class="small-1 columns icons">
            <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
          </div>
        {{/link-to}}
      </div>

      {{#if model.isLocalOrder}}
        <div class="row">
          {{#link-to "orders.client" model.id}}
            <div class="small-4 columns">
              Client:
            </div>

            <div class="small-7 columns">
              {{model.localOrder.clientName}}
              {{#if model.localOrder.hkidNumber}}
                ({{model.localOrder.hkidNumber}})
              {{/if}}
            </div>
            <div class="small-1 columns icons">
              <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
            </div>
          {{/link-to}}
        </div>

        <div class="row">
          {{#link-to "orders.info" model.id}}
            <div class="small-4 columns">
              Order Info:
            </div>

            <div class="small-7 columns ellipsis two-line-ellipsis">
              {{model.localOrder.purposeOfGoods}}
            </div>
            <div class="small-1 columns icons">
              <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
            </div>
          {{/link-to}}
        </div>
      {{/if}}

    </div>
  </div>

</section>
