{{partial 'organisations/nav_bar'}}

<section class="main-section review_offer">
  {{partial 'organisations/organisation_tabs'}}

  <div class="row">
    <div class="small-4 columns">
      Name:
    </div>
    <div class="small-8 columns">
      {{apply-line-break model.name_en}}
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      Description:
    </div>
    <div class="small-8 columns">
      {{apply-line-break model.description_en}}
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      Registration:
    </div>
    <div class="small-8 columns">
      {{!-- Add website link here --}}
      {{apply-line-break model.registration}}
    </div>
  </div>
</section>
