{{partial 'organisations/nav_bar'}}

<section class="main-section">
  {{partial 'organisations/organisation_tabs'}}

  <section class="main-section">
    <div class="row add_user_button">
      <div class=" {{if isMobileApp 'small-9' 'small-12'}} columns">
        {{#link-to "users.new" model.id class="button expand"}} {{t 'organisation.add_user_button'}} {{/link-to}}
      </div>
    </div>
  </section>

  <div class="row">
    <section class="main-section">
      <div class="row search">
        <ul class="list list-activity">
          {{#each allOrganisationsUsers as |OrganisationsUser|}}
            <li>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.first_name'}}: {{OrganisationsUser.user.firstName}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.last_name'}}: {{OrganisationsUser.user.lastName}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.mobile'}}: {{OrganisationsUser.user.mobile}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.email'}}: {{OrganisationsUser.user.email}}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
</section>
