<section class="main-section start_page">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns center-text-logout">
      <u><a href="#" {{action 'logMeOut'}}>{{t "logout.logout"}}</a></u>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns center-text">
      {{#if stockAppVersion}}
        <h1> {{t 'version'}}{{stockAppVersion}} </h1>
      {{/if}}
      <u>{{#link-to 'search_code' (query-params backToNewItem=false)}}Add item to inventory{{/link-to}}</u>
    </div>
  </div>

  {{partial "sticky_footer"}}
</section>
