<div class="row fixed_search_header search-box ui items-search">
  <div class="small-2 columns ">
    <a {{action "cancelSearch"}} class="back">
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div class="back_text">
        Back
      </div>
    </a>
  </div>

  <div class="small-10 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search")
      value=searchText }}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{/if}}
  </div>
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{else}}
        {{#if filteredResults}}
          <ul class="list list-activity list-offer-items codes_results">
            {{#each filteredResults as |type|}}
              <li {{action "assignItemLabel" type}}>
                <div class="package_name">{{type.name}}</div>
                <div>{{type.otherTerms}}</div>
              </li>
            {{/each}}
          </ul>
        {{else if hasFilter}}
          <div class='no_result'>{{t "search_no_results"}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
