<div class="footer">
  <div class="navigation_menus">
    <div class="row">
      <div class="small-12 columns">
        <ul class="{{if session.currentUser.isSupervisor 'small-block-grid-5' 'small-block-grid-4'}} list">
          {{#link-to 'index' tagName='li' href=false}}
            <i class="fa fa-home"></i>{{t "index.home"}}
          {{/link-to}}

          {{#link-to 'orders' tagName='li' href=false}}
            <i class="fa fa-shopping-basket"></i>{{t "index.orders"}}
          {{/link-to}}

          {{#link-to 'items' tagName='li' href=false}}
            <i class="fa fa-cube"></i>{{t "index.items"}}
          {{/link-to}}

          <li><i class="fa fa-qrcode"></i>{{t "index.goto"}}</li>

          {{#if (is-or session.currentUser.isSupervisor getCurrentUser)}}
            {{#link-to 'app_menu_list' tagName='li' href=false}}
              <i class="fa fa-bars"></i> Menu
            {{/link-to}}
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
